name: Deploy Jupyter Book to GitHub Pages

on:
  push:
    branches:
      - main # Change if your default branch is different

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Build Jupyter Book # Change this to new repo name
        run: |
          jupyter-book clean tempBook4 --all || true
          jupyter-book build tempBook4
          ls -R tempBook4/_build/html

      - name: Deploy to GitHub Pages # Change this to new repo name
        run: |
          ghp-import -n -p -f tempBook4/_build/html
